<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="DefaultConnection"
         connectionString="Server=f5d75fae-e49a-4a66-8c3a-a64100585e0e.sqlserver.sequelizer.com;Database=dbf5d75faee49a4a668c3aa64100585e0e;User ID=jimojokzwshsznmv;Password=CsCVDTQmoGXpdJAk8qCHWvWiH4jFJ2rB2SdbGWoKLquXSj3rqgTMd5chCtmJHjKv;" />
  </connectionStrings>
</configuration>